body {
  background-color: #f3f1f1;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: rgb(167, 167, 167);
  border-width: 5px;
  height: 0px;
  width: 5%;
}
h1 {
  color: #105c8f;
}
h3 {
  color: #105c8f;
}